*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"poppins";
}

#menuBar{
background-color:#FFFFFFCC;
width:100%;
text-align: center;
padding-top:10px;

}
#first_container {
  display:flex;
  gap:45rem;
  justify-content: space-between;
  align-items:center;
  padding: 1rem 2rem;
  width: 100%;
  max-width:1440px;
  margin: 0 auto;
}

#left_container {
  display: flex;
  align-items: center;
  gap:1rem;
}

#textContainer {
  display: flex;
  flex-direction:column;
  gap:1.5rem;
}

.name {
  font-weight:500px;
  font-size: 2.8rem;
  color: #212121;

}

.title {
  color:#212121B2;
  font-size: 0.95rem;
  margin-bottom:1.95rem;

}
.edit-profile {
  font-size: 0.95rem;
  margin-top:0.95rem;
}

#right_container{
  display: flex;
  justify-self: end;
  align-content: end;
  align-items: center;
  gap: 0.4rem;
  font-size: 1rem;
  margin-top:180px;
}


body{
    max-width: 1440px;
    background-color: #f8f2e5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
#bodyPart{
    max-width: 100%;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    margin: 2rem; 
    border-top: 1px solid rgba(33, 33, 33, 0.4);
    border-bottom: 1px solid rgba(33, 33, 33, 0.4);
}
#bodyPart #upperBodyContainer,
#bodyPart #lowerBodyContainer {
    display: flex;
    flex-direction:row;
    gap: 20px;
}
#firstSection_1b{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 19rem;
}
#secondSection_1b{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 16rem; 
}
#thirdSection_1b{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 17.3rem; 
}
#fourthSection_1b{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 8rem; 
}
#fifthSection_1b{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 13rem;   
}
#sixthSection_1b{
   display: flex;
   flex-direction: row;
   align-items: center;
   gap: 17rem; 
}
#image-3{
    border-radius: 10px;
}